<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row" style="padding: 0 40px 0 40px;">
      <span class="mdl-layout-title">Admin Console</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <!-- <button mat-button (click)="logout()">Logout</button> -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item style="padding-right:28px;" [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item (click)="logout()" style="padding-right:28px;">
            <mat-icon>account_circle</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="row" style="padding:1%">
        <div class="col-sm-4">
          <div id="cardcolor" class="demo-card0 mdl-card cardnew" [routerLink]="['/analytics']">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Analytics</h2>
            </div>
            <div id="textcolor" class="mdl-card__supporting-text">
              <h5> Click here to see the analytic graph of all the feedbacks. </h5>
            </div>
            <div id="bordercolor" class="mdl-card__actions mdl-card--border">
              <div id="linkcolor" class="buttontext">
                GO TO ANALYTICS
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div id="cardcolor" class="demo-card1 mdl-card cardnew" [routerLink]="['/email-info']">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Send Email</h2>
            </div>
            <div id="textcolor" class="mdl-card__supporting-text">
              <h5> Click here to send emails to different teachers regarding their feedback results. </h5>
            </div>
            <div id="bordercolor" class="mdl-card__actions mdl-card--border">
              <div id="linkcolor" class="buttontext">
                GO TO EMAIL INFORMATION
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div id="cardcolor" class="demo-card2 mdl-card cardnew" [routerLink]="['/editdatabase']">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Edit Database</h2>
            </div>
            <div id="textcolor" class="mdl-card__supporting-text">
              <h5> Click here to view and edit the teacher database. </h5>
            </div>
            <div id="bordercolor" class="mdl-card__actions mdl-card--border">
              <div id="linkcolor" class="buttontext">
                GO TO DATABASE EDIT
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
