


<!-- <div>
  <canvas baseChart width="400" height="150"
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
<div>
  <canvas baseChart width="400" height="190"
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div> -->