<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row" style="padding: 0 40px 0 40px;">
      <span style="padding-right:30px;margin-left:-15px">
        <button class="mdl-button mdl-js-button mdl-button--icon" [routerLink]="['/adminconsole']">
          <i class="material-icons">arrow_back</i>
        </button>
      </span>
      <span class="mdl-layout-title">Settings</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <button mat-button (click)="logout()">Logout</button>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
    </div>
  </main>
</div>